@import '/node_modules/normalize.css/normalize.css';
@import '/source/fonts/Lato/font-face.css';
* {
  color: #fff;
  font-family: "Lato";
}

body {
  background-color: #121920;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 40px;
  }
}
.logo {
  cursor: pointer;
}

@media (max-width: 576px) {
  .logo {
    width: 90%;
  }
}
.plain-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.plain-small-text {
  font-size: 16px;
  font-weight: 24px;
  line-height: 24px;
  color: #88939E;
}
.plain-small-text_focus {
  color: white;
}
.plain-small-text_less {
  font-size: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.button {
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  cursor: pointer;
  width: 100%;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button_solid {
  background-color: #F8BE4D;
  color: #121920;
}
.button_solid:hover {
  background-color: #121920;
  color: #fff;
}
.button_not-solid {
  border: 1px solid #F8BE4D;
  background: none;
}
.button_not-solid:hover {
  background-color: #F8BE4D;
  color: #121920;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 77px;
}
.header__logo-link {
  height: 69px;
}
.header__phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__number {
  display: inline;
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  margin-right: 22px;
}
.header__number_bold {
  font-weight: 700;
}
.header__number::before {
  content: url(/source/svg/phone.svg);
  display: block;
  width: 15px;
  height: 25px;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}
.header__number:hover {
  -webkit-text-decoration: underline 1px #F8BE4D;
          text-decoration: underline 1px #F8BE4D;
  text-underline-offset: 5px;
}
.header__number_easy {
  display: none;
  margin: 0;
}
.header__number_easy::before {
  margin: 0;
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

@media (max-width: 768px) {
  .header__number {
    display: none;
  }
  .header__number_easy {
    display: inline;
  }
}
@media (max-width: 576px) {
  .header__number::before {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.section-title {
  font-size: 38px;
  line-height: 46px;
  font-weight: 300;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media (max-width: 460px) {
  .section-title {
    font-size: 28px;
  }
}
.hidden {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 152px;
  margin-left: 2px;
  margin-bottom: 37px;
}
.main__h1 {
  font-weight: bold;
  font-size: 64px;
  margin-top: 52px;
  line-height: 103px;
  margin-bottom: 23px;
}
.main__h1::after {
  content: ".";
  color: #F8BE4D;
}
.main__company-slogan {
  font-weight: 300;
  line-height: 46px;
  font-size: 38px;
  max-width: 599px;
  height: 92px;
  margin-top: 0px;
}
.main__button {
  max-width: 290px;
  height: 60px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.main__action-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__action-text-container:last-child {
  margin-top: 16px;
}
.main__action-text-container::before {
  content: "";
  display: block;
  height: 1px;
  width: 24px;
  background-color: #F8BE4D;
  margin-top: 11px;
  margin-right: 9px;
}
.main__action-text {
  max-width: 385px;
  margin-block: 0px;
}

@media (max-width: 1024px) {
  .main__company-ads {
    max-width: 50%;
  }
  .main__h1 {
    line-height: 65px;
  }
}
@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__company-ads {
    max-width: 100%;
    margin-left: 10px;
  }
  .main__action-text {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
  .main {
    margin-top: 20px;
  }
  .main__h1 {
    font-size: 40px;
    line-height: initial;
  }
  .main__company-slogan {
    font-size: 24px;
    line-height: initial;
    margin-bottom: 100px;
  }
  .main__action-text {
    font-size: 16px;
  }
}
.input {
  background-color: #3A434C;
  width: 100%;
  padding: 16px;
  padding-left: 19px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}
.input::-webkit-input-placeholder {
  color: #88939E;
}
.input::-moz-placeholder {
  color: #88939E;
}
.input:-ms-input-placeholder {
  color: #88939E;
}
.input::-ms-input-placeholder {
  color: #88939E;
}
.input::placeholder {
  color: #88939E;
}

@media (max-width: 1024px) {
  .input {
    font-size: 16px;
  }
}
.call-send-form {
  width: 330px;
  height: 279px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 36px 26px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.call-send-form__input {
  width: 88.5%;
  margin-bottom: 18px;
}
.call-send-form__plain-text {
  display: inline-block;
  margin-bottom: 39px;
}
.call-send-form__button {
  width: 278px;
  max-width: 278px;
  height: 60px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .call-send-form__button {
    border: 1px solid #F8BE4D;
  }
}
@media (max-width: 460px) {
  .call-send-form {
    height: 300px;
    width: 100%;
  }
  .call-send-form__input {
    width: 75%;
  }
  .call-send-form__button {
    width: 100%;
  }
}
.benefits {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 21px;
}
.benefits__cards {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  height: 380px;
  border: 1px solid #1B242D;
  border-radius: 5px;
  padding: 31px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  cursor: pointer;
}
.benefits__card:hover {
  background-color: #F8BE4D;
}
.benefits__card:hover .title {
  color: #121920;
}
.benefits__card:hover .plain-small-text {
  color: #121920;
}
.benefits__card:hover .benefits__card-img {
  fill: #121920;
}
.benefits__img-container {
  height: 66px;
  width: 66px;
  position: relative;
}
.benefits__card-img {
  position: absolute;
  bottom: 0;
}
.benefits__title {
  margin-top: 28px;
}
.benefits__about-text {
  margin-top: 16px;
}
.benefits__small-text {
  margin-block: 0;
  line-height: 20px;
}
.benefits__small-text:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .benefits__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    row-gap: 30px;
  }
  .benefits__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 45%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .benefits__img-container {
    width: 90px;
  }
  .benefits__title {
    margin: 0;
    width: auto;
  }
  .benefits__about-text {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .benefits__title {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .benefits__card {
    width: 100%;
  }
  .benefits__card-img {
    max-width: 50px;
    max-height: 50px;
    top: 0;
  }
  .benefits__about-text {
    margin: 0;
    width: 100%;
  }
  .benefits__small-text {
    margin-left: 90px;
  }
  .benefits__title_with-br, .benefits__small-text_with-br {
    display: none;
  }
  .benefits__title_without-br, .benefits__small-text_without-br {
    display: block;
  }
}
@media (max-width: 576px) {
  .benefits__cards {
    row-gap: 10px;
  }
  .benefits__small-text {
    margin: 0;
    margin-top: 10px;
  }
}
@media (max-width: 460px) {
  .benefits {
    padding-top: 100px;
  }
  .benefits__cards {
    margin-top: 15px;
  }
}
.privilege-card {
  background: linear-gradient(130deg, #3a5853, #273B38, #162D2B 240px);
  border-radius: 24px;
  background-size: 250%;
  background-position: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  -webkit-box-shadow: 0px 25px 15px 0px rgb(11, 16, 21);
          box-shadow: 0px 25px 15px 0px rgb(11, 16, 21);
}
.privilege-card:hover {
  background-position: 0%;
}
.privilege-card:hover::after {
  top: -20px;
}
.privilege-card:hover::before {
  top: -10px;
}
.privilege-card__img-container {
  margin-top: 13.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.privilege-card__logo {
  max-width: 51px;
  margin: 0 auto;
}
.privilege-card__img-company-name {
  font-size: 35px;
  letter-spacing: 3.5px;
  margin-top: 13px;
  line-height: 30px;
}
.privilege-card__img-hr {
  margin: 0 auto;
  width: 140px;
}
.privilege-card__img-desc {
  font-size: 6px;
  letter-spacing: 1px;
  margin-top: 4px;
}
.privilege-card__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.privilege-card__card-number {
  font-size: 21px;
  letter-spacing: 0.5px;
  line-height: 22px;
}
.privilege-card__card-name {
  font-size: 16px;
  letter-spacing: 0.7px;
  margin-right: 3px;
}
.privilege-card::before {
  content: "";
  display: block;
  position: absolute;
  width: 87%;
  height: 100px;
  background-color: #2A2F35;
  border-radius: 10px;
  top: -20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}
.privilege-card::after {
  content: "";
  display: block;
  position: absolute;
  width: 75%;
  height: 100px;
  background-color: #2A2F35;
  opacity: 0.7;
  border-radius: 10px;
  top: -40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.simple-input {
  background: none;
  border: none;
  border-bottom: 1px solid #3A434C;
  background-repeat: no-repeat;
  padding: 15px 34px;
  background-position: center left;
  font-size: 15px;
  outline: none;
}
.simple-input::-webkit-input-placeholder {
  color: #88939E;
}
.simple-input::-moz-placeholder {
  color: #88939E;
}
.simple-input:-ms-input-placeholder {
  color: #88939E;
}
.simple-input::-ms-input-placeholder {
  color: #88939E;
}
.simple-input::placeholder {
  color: #88939E;
}
.simple-input:hover, .simple-input:focus {
  border-bottom: 1px solid #5d6c7b;
}

@media (max-width: 1024px) {
  .simple-input {
    font-size: 16px;
  }
}
.privileges {
  text-align: center;
  padding-top: 71px;
  margin-bottom: 82px;
}
.privileges__privelege-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.privileges__card-wrapper {
  position: relative;
}
.privileges__container-free-parking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 105px;
  margin-right: 42px;
}
.privileges__card {
  width: 420px;
  height: 278px;
  margin-right: 30px;
}
.privileges__card-info {
  text-align: left;
  margin-top: 51px;
}
.privileges__free-parking-title {
  font-size: 30px;
  color: #F8BE4D;
  letter-spacing: 0.3px;
}
.privileges__free-parking-about-text {
  font-size: 24px;
  max-width: 377px;
  margin-top: 44px;
  line-height: 34px;
}
.privileges__meeting-title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  margin-top: 90px;
}
.privileges__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 870px;
  margin: 0 auto;
  margin-top: 50px;
}
.privileges__simple-input {
  width: 100%;
  max-width: 210px;
}
.privileges__simple-input_fio {
  background-image: url("/source/svg/profile.svg");
}
.privileges__simple-input_tel {
  background-image: url("/source/svg/telephone.svg");
}
.privileges__form-send-btn {
  max-width: 274px;
}

@media (max-width: 1024px) {
  .privileges__form {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
  .privileges__form-send-btn {
    height: 50px;
  }
  .privileges__simple-input {
    max-width: 100%;
    width: 230px;
  }
}
@media (max-width: 866px) {
  .privileges__container-free-parking {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  .privileges__card-info {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .privileges__container-free-parking {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    margin-top: 30px;
  }
  .privileges__card {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .privileges__card-info {
    text-align: center;
  }
  .privileges__free-parking-title {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .privileges__card {
    max-width: 80%;
    height: 220px;
  }
  .privilege-card__img-container {
    margin-top: 15%;
  }
  .privilege-card__logo {
    width: 16%;
  }
  .privilege-card__img-company-name {
    font-size: 16px;
    margin-top: 2%;
  }
  .privilege-card__img-hr, .privilege-card__img-desc {
    display: none;
  }
  .privilege-card__card-number, .privilege-card__card-name {
    font-size: 12px;
  }
}
@media (max-width: 462px) {
  .privilege-card {
    height: 190px;
    max-width: 100%;
  }
}
@media (max-width: 355px) {
  .privilege-card {
    height: 160px;
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .privileges__meeting-title {
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-top: 150px;
  }
  .privileges__form {
    margin-top: 20px;
  }
  .privileges__free-parking-title {
    font-size: 24px;
  }
  .privileges__free-parking-about-text {
    font-size: 16px;
    margin-top: 5px;
  }
}
.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 240px;
  height: 400px;
  max-height: 400px;
  background-color: white;
  padding: 13px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.team-card__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.team-card__img-box {
  width: 212px;
  height: 208px;
  position: relative;
  overflow: hidden;
}
.team-card__photo {
  position: absolute;
  float: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 210px;
}
.team-card__about-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 179px;
}
.team-card__person-name {
  color: #1B242D;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 16px;
}
.team-card__person-position {
  color: #88939E;
  font-size: 13px;
  line-height: 16px;
  width: 196px;
  margin: 0 auto;
}
.team-card__communicate-data {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  margin-top: 9px;
}
.team-card__communicate-data ::before {
  content: "";
  background-repeat: no-repeat;
  background-size: 18px;
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: -29px;
}
.team-card__communicate-data > a {
  position: relative;
  margin-left: 39px;
  display: block;
}
.team-card__communicate-data_three-lines {
  margin-top: -6px;
}
.team-card__communicate-data_one-lines {
  margin-top: 25px;
}
.team-card__number {
  color: #121920;
  margin-bottom: 13px;
}
.team-card__number::before {
  background-image: url(/source/svg/telephone.svg);
}
.team-card__email {
  color: #121920;
  margin-bottom: 12px;
}
.team-card__email::before {
  background-image: url(/source/svg/email.svg);
}

.support-team {
  text-align: center;
  padding-top: 46px;
  padding-bottom: 29px;
}
.support-team__team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 61px;
}
.support-team__team-card {
  margin-bottom: 30px;
  height: auto;
}

@media (max-width: 1200px) {
  .support-team__team-cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .support-team__team-card {
    max-width: 100%;
    width: auto;
    padding-left: 0;
  }
  .support-team__team-card-person-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  .support-team__about-person {
    width: 230px;
  }
  .support-team__person-name {
    margin-left: 10px;
  }
  .support-team__person-position {
    margin-left: 10px;
  }
}
@media (max-width: 1024px) {
  .support-team__team-card {
    padding: 10px;
    max-height: 500px;
  }
  .support-team__img-box {
    margin: 0 auto;
  }
  .support-team__team-card-person-info {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support-team__about-person {
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .support-team__person-name {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .support-team__person-position {
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .support-team__communicate-data {
    font-size: 15px;
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media (max-width: 866px) {
  .support-team__team-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
  }
  .support-team__team-card {
    width: 40%;
    margin: 0;
  }
  .support-team__about-person {
    margin: 0 auto;
    width: 100%;
  }
  .support-team__person-position {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .support-team__team-card {
    width: 45%;
  }
  .support-team__img-box {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .support-team__team-card {
    width: 100%;
  }
  .support-team__team-card-person-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .support-team__img-box {
    border-radius: 5px;
    width: 50%;
  }
}
@media (max-width: 460px) {
  .support-team__team-card-person-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .support-team__img-box {
    width: 100%;
  }
}
.become-client {
  padding-top: 40px;
  text-align: center;
}
.become-client__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 83px;
}
.become-client__step {
  text-align: left;
  width: 331px;
}
.become-client__step-number {
  display: block;
  font-size: 100px;
  color: #232A32;
  font-weight: 900;
}
.become-client__step-number::after {
  content: "";
  display: block;
  width: 36px;
  height: 2px;
  background-color: #F8BE4D;
  margin-top: 7px;
}
.become-client__step-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.become-client__step-img {
  max-width: 60px;
  max-height: 60px;
}
.become-client__step-text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 245px;
}
.become-client__become {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 90px;
  margin-top: 108px;
  text-align: left;
}
.become-client__action-photo {
  max-width: 330px;
}
.become-client__action-text {
  max-width: 330px;
  margin-top: 47px;
}
.become-client__gift-title {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.2px;
}
.become-client__gift-text-container {
  position: relative;
  height: 72px;
  margin-top: 20px;
}
.become-client__gift-text-container::before {
  content: "";
  display: block;
  width: 2px;
  height: 44px;
  background-color: #F8BE4D;
  float: left;
  margin-top: 6px;
}
.become-client__gift-text {
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  margin: 0;
  margin-left: 21px;
  width: 400px;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.become-client__form {
  margin-top: 20px;
}
.become-client__form-button:hover {
  border: 1px solid #F8BE4D;
}

@media (max-width: 1024px) {
  .become-client__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    width: 520px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .become-client__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .become-client__step-number::after {
    width: 2px;
    height: 70px;
    float: right;
    margin-top: -98px;
    margin-left: 130px;
  }
  .become-client__step-info {
    margin-top: 23px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .become-client__action {
    max-width: 35%;
  }
  .become-client__action-photo {
    width: 100%;
  }
}
@media (max-width: 866px) {
  .become-client__become {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 70px;
    margin-top: 40px;
  }
  .become-client__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .become-client__action-photo {
    width: auto;
    max-height: 250px;
  }
  .become-client__action-text {
    margin: 0;
    width: auto;
  }
  .become-client__enter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .become-client__gift-text-container {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .become-client__steps {
    width: 100%;
  }
  .become-client__step {
    width: 100%;
    max-width: 100%;
  }
  .become-client__step-number::after {
    display: none;
  }
  .become-client__step-text {
    width: auto;
  }
  .become-client__become {
    width: 100%;
    padding: 0;
  }
  .become-client__action {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .become-client__steps {
    row-gap: 50px;
  }
  .become-client__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .become-client__step-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
  }
  .become-client__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .become-client__gift-text-container {
    text-align: center;
  }
  .become-client__gift-text-container::before {
    display: none;
  }
  .become-client__gift-text {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 460px) {
  .become-client__steps {
    margin-top: 30px;
  }
  .become-client__step-text {
    font-size: 16px;
  }
  .become-client__gift-title {
    font-size: 24px;
  }
  .become-client__gift-text-container {
    width: 90%;
  }
  .become-client__form {
    margin-top: 100px;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 138px;
  margin-top: 83px;
}
.footer__logo-link {
  display: block;
  height: 69px;
}
.footer__logo {
  opacity: 0.35;
  width: 100%;
  max-width: 238px;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.footer__logo:hover {
  opacity: 1;
}
.footer__number {
  margin-top: 2px;
  color: #61666B;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
.footer__number::before {
  content: url("/source/svg/phone-grey.svg");
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
.footer__number_bold {
  color: #61666B;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}
.footer__number:hover {
  color: #fff;
}
.footer__number:hover::before {
  content: url("/source/svg/phone.svg");
}
.footer__number:hover .footer__number_bold {
  color: #fff;
}

@media (max-width: 576px) {
  .footer__logo {
    width: 80%;
  }
}
.container_header-main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 25, 32, 0.95)), to(rgba(18, 25, 32, 0))), -webkit-gradient(linear, left bottom, left top, from(#121920), to(rgba(18, 25, 32, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(18, 25, 32, 0.7921568627))), url(/source/img/header-bg.png);
  background-image: linear-gradient(rgba(18, 25, 32, 0.95), rgba(18, 25, 32, 0)), linear-gradient(0deg, #121920, rgba(18, 25, 32, 0)), linear-gradient(rgba(18, 25, 32, 0.7921568627)), url(/source/img/header-bg.png);
  background-position: center top, center bottom, center;
  background-size: 100% 184px, 100% 184px, cover, cover;
  background-repeat: no-repeat;
}
.container__opacity {
  background-color: rgba(18, 25, 32, 0.22);
  width: 100%;
  height: 100%;
  position: absolute;
}
.container > .wrapper {
  position: relative;
}
.container_with-lines {
  position: relative;
}
.container_with-lines::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/source/img/BG.png");
  background-repeat: no-repeat;
  background-size: 1390px;
  background-position: center 25px;
  z-index: -3;
  position: absolute;
}
.container_footer {
  background-color: #0D141B;
}

.header-main-container {
  padding-top: 38px;
  padding-bottom: 37px;
}

.bg-gradient {
  width: 100%;
  height: 184px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 25, 32, 0.95)), to(rgba(18, 25, 32, 0)));
  background: linear-gradient(rgba(18, 25, 32, 0.95), rgba(18, 25, 32, 0));
  position: absolute;
}
.bg-gradient_bottom {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(18, 25, 32, 0.95)), to(rgba(18, 25, 32, 0)));
  background: linear-gradient(0deg, rgba(18, 25, 32, 0.95), rgba(18, 25, 32, 0));
  bottom: 0;
}

@media (max-width: 768px) {
  .container_header-main {
    background-position: center top, center 644px, center, -500px 0px;
    background-size: 100% 184px, 100% 184px, cover, auto;
  }
}
@media (max-width: 460px) {
  .container_header-main {
    background-position: center top, center 310px, center, -300px 0px;
    background-size: 100% 184px, 100% 184px, cover, 850px;
  }
}