.benefits {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 21px;
  
  &__cards {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 380px;
    border: 1px solid $dark-grey-text;
    border-radius: 5px;
    padding: 31px 23px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: $orange;

      & .title {
        color: $main_color;
      }
      & .plain-small-text {
        color: $main_color;
      }
      & .benefits__card-img {
        fill: $main_color;
      }
    }
  }

  &__img-container {
    height: 66px;
    width: 66px;
    position: relative;
  }

  &__card-img {
    position: absolute;
    bottom: 0;
  }

  &__title {
    margin-top: 28px;
  }

  &__about-text {
    margin-top: 16px;
  }

  &__small-text {
    margin-block: 0;
    line-height: 20px;
    
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

@include desktop {
  .benefits {
    &__cards {
      justify-content: space-around;
      row-gap: 30px;
    }

    &__card {
      flex-direction: row;
      width: 45%;
      height: auto;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    &__img-container {
      width: 90px;
    }

    &__title {
      margin: 0;
      width: auto;
    }

    &__about-text {
      margin-top: 30px;
    }
  }
}

@include laptops {
  .benefits {
    &__title {
      max-width: 60%;
    }
  }
}

@include tablets {
  .benefits {

    &__card {
      width: 100%;
    }

    &__card-img {
      max-width: 50px;
      max-height: 50px;
      top: 0;
    }

    &__about-text {
      margin: 0;
      width: 100%;
    }

    &__small-text {
      margin-left: 90px;
    }

    &__title, &__small-text {
      &_with-br {
        display: none;
      }

      &_without-br {
        display: block;
      }
    }
    
  }
}

@include phone {
  .benefits {

    &__cards {
      row-gap: 10px;
    }

    &__small-text {
      margin: 0;
      margin-top: 10px;
    }

  }
}

@include phone-small {
  .benefits {

    padding-top: 100px;

    &__cards {
      margin-top: 15px;
    }
  }
}