.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 138px;

  margin-top: 83px;

  &__logo-link {
    display: block;
    height: 69px;
  }
  
  &__logo {
    opacity: 0.35;
    width: 100%;
    max-width: 238px;

    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }
  }

  &__number {
    margin-top: 2px;
    color: #61666B;

    transition: color 0.1s;

    &::before {
      content: url('source/svg/phone-grey.svg');
      transition: color 0.1s;
    }

    &_bold {
      color: #61666B;
      transition: color 0.1s;
    }

    &:hover {
      color: #fff;
      &::before {
        content: url('source/svg/phone.svg')
      }
    }

    &:hover .footer__number_bold {
      color: #fff;
    }
  }
  
}

@include phone {
  .footer {
    &__logo {
      width: 80%;
    }
  }
}