.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;

  &__logo-link {
    height: 69px;
  }

  &__phone-number {
    display: flex;
    align-items: center;
  }
  &__number {
    display: inline;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    margin-right: 22px;

    &_bold {
      font-weight: 700;
    }


    &::before {
      content: url(/source/svg/phone.svg);
      display: block;
      width: 15px;
      height: 25px;
      float: left;
      margin-right: 10px;
      margin-top: 1px;
    }

    &:hover {
      text-decoration: underline 1px $orange;
      text-underline-offset: 5px;
    }

    &_easy {
      display: none;
      margin: 0;
      &::before {
        margin: 0;
        transform: scale(1.8);
      }
    }
  }
}

@include tablets {
  .header {
    &__number {
      display: none;

      &_easy {
        display: inline;
      }
    }
  }
}

@include phone {
  .header {
    &__number {
      &::before {
        transform: scale(1.3);
      }
    }
  }
}